name: Trigger Windows22 CI
run-name: Windows2022 - ${{ github.event.pull_request.title }}
on:
  pull_request:
    types: labeled
    # paths:
    # - 'images/linux/**'

defaults:
  run:
    shell: pwsh

jobs:
  Windows_2022:
    if: contains(github.event.pull_request.labels.*.name, 'CI windows-all') || contains(github.event.pull_request.labels.*.name, 'CI windows-2022')
    uses: ./.github/workflows/trigger-remote-reusable-workflow.yml
    with:
      repo_owner: 'shamil-mubarakshin'
      repo_name: 'azure-workflows'
      image_type: 'windows2022'
    secrets: inherit
